{% extends 'base.html'%}
{% load static %}
{% block content %}
<h1>User profile......</h1>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
{% if page_user.profile_pic %}
      <img src="{{page_user.profile_pic.url}}"
{% else %}
           <img src="{% static 'blog/images/Default-Profile.png'%}"
{% endif %}
 width="200" height="200" class="img-fluid rounded-start" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title">{{page_user.user.first_name}}</h5>
          <p class="card-text text-muted">

              {% if page_user.website_url%}
                <a href="{{page_user.website_url}}">Website</a>
              {% endif %}
              {% if page_user.facebook_url%}
                <a href="{{page_user.facebook_url}}">Facebook</a>
              {% endif %}
              {% if page_user.twitter_url%}
                <a href="{{page_user.twitter_url}}">twitter</a>
              {% endif %}
              {% if page_user.instagram_url%}
                <a href="{{page_user.instagram_url}}">Instagram</a>
              {% endif %}

          </p>
        <p class="card-text">{{page_user.bio}}</p>

      </div>
    </div>
  </div>
</div>



{% endblock %}